# EditorConfig helps maintain consistent coding styles
root = true

[*.py]
indent_style = tab
indent_size = 4
max_line_length = 100
quote_type = single
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Frontend files
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.{css,scss,html}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.json]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
